Repository tr8team/gattai: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt, terraform-init, terraform-validate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system
      # - id: gattai-doc
      #   name: Update README.md for gattai doc
      #   entry: pls gattai:doc
      #   files: ^.*\.yaml$
      #   pass_filenames: false
      #   language: system
      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false
      - id: terraform-init
        name: Init all terraform files
        entry: pls fmt:nix
        files: ^.*\.tf$
        language: system
        pass_filenames: false
      - id: terraform-validate
        name: Validate all terraform files
        entry: pls fmt:nix
        files: ^.*\.tf$
        language: system
        pass_filenames: false

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.73.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
      - id: terraform_tflint
      - id: terraform_tfsec

fix: remove command func and add to engine
  src/gattai_core/core_engine/engine_main.go
  src/yaml_format/action_file.go
  src/yaml_format/gattai_file.go
  src/yaml_format/tpl_funcs.go
Due: none

fix: remove action name from command func
  src/command/run.go
  src/command/validate.go
  src/gattai_core/core_action/action_interface.go
  src/gattai_core/core_engine/engine_main.go
  src/yaml_format/cli_spec.go
  src/yaml_format/derived_spec.go
  src/yaml_format/tpl_funcs.go
Due: none

feat: added test command to show example of yaml-less
  gattai_actions/README.md
  main.go
  src/command/run.go
  src/command/test.go
  src/command/validate.go
  src/gattai_core/core_action/action_command.go
  src/gattai_core/core_action/action_map.go
  src/gattai_core/core_cli/cli_action.go
  src/gattai_core/core_engine/engine_main.go
  src/gattai_core/core_engine/engine_map.go
  src/yaml_format/cli_spec.go
  src/yaml_format/tpl_funcs.go
Due: md-fmt

feat: added new store and fetch function
  src/gattai_core/core_engine/engine_main.go
  src/yaml_format/tpl_funcs.go
Due: none

feat: export path without chaning folder structure
  go.mod
Due: none

feat: export path without chaning folder structure 2
  go.mod
Due: none

fix: use op:// syntax
  gattai_actions/op/item_get.yaml
Due: yaml-fmt
