Repository tr8team/gattai: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt, terraform-init, terraform-validate

shfmt:
  name: Format Shell Scripts
  entry: pls fmt:sh
  pass_filenames: false
  language: system

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

terraform-init:
  name: Init all terraform files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

terraform-validate:
  name: Validate all terraform files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

change profile order
  gattai_actions/aws/get_secret_value.yaml
Due: yaml-fmt

feat: add upstash redis database integration
  examples/GattaiFile.yaml
  gattai_actions/upstash/get_upstash_redis_database_endpoint.yaml
  gattai_actions/upstash/query/upstash_redis_database.yaml
  nix/env.nix
  nix/packages.nix
Due: yaml-fmt, nixpkgs-fmt

feat: use derived interface
  examples/GattaiFile.yaml
  gattai_actions/upstash/get_upstash_redis_database_endpoint.yaml
Due: yaml-fmt

update action doc with upstash
  gattai_actions/README.md
Due: md-fmt

add get secret lists
  gattai_actions/aws/list_secret_names.yaml
Due: yaml-fmt

change the name
  gattai_actions/aws/list_all_secret_by_property.yaml
Due: yaml-fmt

fix: auto pull multiple kubeconfig
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

fix: auto pull multiple kubeconfig 2
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

fix: auto pull multiple kubeconfig 3
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

fix: auto pull multiple kubeconfig 4
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

fix: auto pull multiple kubeconfig 5
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

fix: auto pull multiple kubeconfig 6
  examples/GattaiFile.yaml
  gattai_actions/aws/list_all_secret_by_property.yaml
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

fix: auto pull multiple kubeconfig
  examples/GattaiFile.yaml
  gattai_actions/aws/list_all_secret_by_property.yaml
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

feat: allow write multi-secrets to specify profiles
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

fix: missing gotemplate for .profile
  gattai_actions/write_multi_secrets.yaml
Due: yaml-fmt

fix: profile in secrets value
  gattai_actions/aws/get_secret_value.yaml
Due: yaml-fmt

fix: better resolution of quotations
  gattai_actions/write_file.yaml
Due: yaml-fmt

fix: attempt to use multiline to overcome
  gattai_actions/write_file.yaml
Due: yaml-fmt

fix: use double quotes since engine automatically double quote anyways
  gattai_actions/write_file.yaml
Due: yaml-fmt

first draft code refactoring for splitting
  src/command/document.go
  src/command/run.go
  src/command/validate.go
  src/gattai_core/action/unit_test.go
  src/gattai_core/common/unit_test.go
  src/gattai_core/unit_test.go
  src/gattai_engine/action/action_core.go
  src/gattai_engine/action/action_file.go
  src/gattai_engine/action/cli_spec.go
  src/gattai_engine/action/derived_spec.go
  src/gattai_engine/action/interface_spec.go
  src/gattai_engine/action/tpl_funcs.go
  src/gattai_engine/common/repo.go
  src/gattai_engine/common/target.go
  src/gattai_engine/gattai_core.go
  src/gattai_engine/gattai_file.go
  src/gattai_engine/tpl_funcs.go
Due: none

Revert "first draft code refactoring for splitting"
  src/command/document.go
  src/command/run.go
  src/command/validate.go
  src/gattai_core/action/action_file.go
  src/gattai_core/action/cli_spec.go
  src/gattai_core/action/derived_spec.go
  src/gattai_core/action/interface_spec.go
  src/gattai_core/action/tpl_funcs.go
  src/gattai_core/action/unit_test.go
  src/gattai_core/common/repo.go
  src/gattai_core/common/target.go
  src/gattai_core/common/unit_test.go
  src/gattai_core/gattai_file.go
  src/gattai_core/tpl_funcs.go
  src/gattai_core/unit_test.go
  src/gattai_engine/action/action_file.go
  src/gattai_engine/gattai_file.go
Due: none

first draft remove unit test
  src/gattai_core/action/unit_test.go
  src/gattai_core/common/unit_test.go
  src/gattai_core/unit_test.go
Due: none

feat: first draft clean up
  src/command/run.go
  src/command/validate.go
  src/gattai_core/action/cli_spec.go
  src/gattai_core/action/derived_spec.go
  src/gattai_core/action/interface_spec.go
  src/gattai_core/cli/cli_action.go
Due: none

feat: chnage outout name to prevent confusion
  src/gattai_core/tpl_funcs.go
Due: none

feat: change module name to yaml_action
  README.md
  src/command/document.go
  src/command/run.go
  src/command/validate.go
  src/gattai_core/action/action_interface.go
  src/gattai_core/gattai_file.go
  src/gattai_core/tpl_funcs.go
  src/gattai_core/yaml_action/action_file.go
  src/gattai_core/yaml_action/cli_spec.go
  src/gattai_core/yaml_action/derived_spec.go
  src/gattai_core/yaml_action/interface_spec.go
  src/gattai_core/yaml_action/tpl_funcs.go
Due: md-fmt

feat: change module name to yaml_format
  src/command/document.go
  src/command/run.go
  src/command/validate.go
  src/gattai_core/gattai_file.go
  src/gattai_core/tpl_funcs.go
  src/yaml_format/action_file.go
  src/yaml_format/cli_spec.go
  src/yaml_format/derived_spec.go
  src/yaml_format/interface_spec.go
  src/yaml_format/tpl_funcs.go
Due: none

feat: seperate yaml_format from action further
  src/command/document.go
  src/command/run.go
  src/command/validate.go
  src/gattai_core/tpl_funcs.go
  src/yaml_format/action_file.go
  src/yaml_format/derived_spec.go
  src/yaml_format/gattai_file.go
  src/yaml_format/repo.go
  src/yaml_format/target.go
  src/yaml_format/tpl_funcs.go
Due: none

feat: seperate yaml_format from action further 2
  src/gattai_core/core_action/action_interface.go
  src/gattai_core/core_cli/cli_action.go
  src/yaml_format/cli_spec.go
  src/yaml_format/derived_spec.go
  src/yaml_format/interface_spec.go
Due: none

feat: first draft action look up map
  src/gattai_core/core_action/action_map.go
  src/yaml_format/gattai_file.go
  src/yaml_format/tpl_funcs.go
Due: none

feat: streamline fetch furthr
  src/yaml_format/tpl_funcs.go
Due: none

feat: streamline fetch furthr 2
  src/yaml_format/tpl_funcs.go
Due: none

feat: streamline fetch further 2
  src/yaml_format/gattai_file.go
  src/yaml_format/tpl_funcs.go
Due: none

feat: streamline fetch further 3
  src/gattai_core/core_engine/engine_main.go
  src/yaml_format/gattai_file.go
  src/yaml_format/tpl_funcs.go
Due: none

feat: streamline fetch further 4
  src/yaml_format/tpl_funcs.go
Due: none

feat: streamline fetch further 5
  src/command/run.go
  src/command/validate.go
  src/gattai_core/core_action/action_expected.go
  src/gattai_core/core_cli/cli_action.go
  src/yaml_format/cli_spec.go
  src/yaml_format/derived_spec.go
Due: none

feat: streamline fetch further 6
  src/yaml_format/action_file.go
  src/yaml_format/gattai_file.go
  src/yaml_format/repo.go
  src/yaml_format/target.go
Due: none

feat: streamline fetch further 7
  src/command/run.go
  src/command/validate.go
  src/gattai_core/core_action/action_interface.go
  src/gattai_core/core_cli/cli_action.go
  src/gattai_core/core_engine/engine_action.go
  src/yaml_format/cli_spec.go
  src/yaml_format/derived_spec.go
  src/yaml_format/interface_spec.go
Due: none

feat: streamline fetch further 8
  src/command/run.go
  src/command/validate.go
  src/gattai_core/core_action/action_interface.go
  src/gattai_core/core_cli/cli_action.go
  src/yaml_format/action_file.go
  src/yaml_format/cli_spec.go
  src/yaml_format/derived_spec.go
  src/yaml_format/tpl_funcs.go
Due: none

fix: update name from RunAcion to RunAction
  src/command/run.go
  src/command/validate.go
  src/gattai_core/core_action/action_interface.go
  src/gattai_core/core_cli/cli_action.go
Due: none

fix: update command action
  src/command/run.go
  src/command/validate.go
  src/gattai_core/core_action/action_interface.go
  src/gattai_core/core_engine/engine_action.go
  src/yaml_format/action_file.go
  src/yaml_format/cli_spec.go
  src/yaml_format/derived_spec.go
  src/yaml_format/interface_spec.go
  src/yaml_format/tpl_funcs.go
Due: none

Path conditions:
  shfmt: any of: ^.*\.sh$
  cfg-scripts: any of: ^.*\.sh$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
  terraform-init: any of: ^.*\.tf$
  terraform-validate: any of: ^.*\.tf$
